---
name: Build & Publish

on:
  push:
    branches:
      - main
  schedule:
    # Run weekly
    - cron: '0 0 * * 0'
  # Manually triggered
  workflow_dispatch:

jobs:
  image:
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      actions: read
      id-token: write
      attestations: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME_BASE: ${{ github.repository }}
    strategy:
      matrix:
        toolbox:
          - dev
          - sre
          - node-dev
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4

      - name: Set up QEMU for cross-platform builds
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set container metadata
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5
        id: docker-metadata
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME_BASE }}/${{ matrix.toolbox }}
          labels: |
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.description="Container image with JAORMX's toolboxes"
            org.opencontainers.image.title="Toolbox container image"
            org.opencontainers.image.version=${{ github.sha }}
          flavor: |
            latest=true

      - name: Build and Push Image
        id: image-build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: ./${{ matrix.toolbox }}/Dockerfile
          platforms: linux/amd64
          push: true
          provenance: mode=max
          sbom: true
          tags: ${{ steps.docker-metadata.outputs.tags }}
          labels: ${{ steps.docker-metadata.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Capture Image Digest
        id: image-digest
        run: |
          echo "digest=$(docker inspect --format='{{index .RepoDigests 0}}' ghcr.io/${{ env.IMAGE_NAME_BASE }}${{ matrix.toolbox }}:${{ steps.version-string.outputs.tag }})" >> "$GITHUB_OUTPUT"

      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0

      - name: Sign the images with GitHub OIDC Token
        env:
          DIGEST: ${{ steps.image-build.outputs.digest }}
          TAGS: ${{ steps.docker-metadata.outputs.tags }}
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST} "
          done
          cosign sign --yes ${images}
